<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio | Buscador de Contenido</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="_fragments/header"></div>

<div class="carouselContainer">
    <div class="px-3 py-3 pt-md-8 pb-md-8 mx-auto">
        <span>Trending Tv Shows</span><br/>

        <div id="trendingShowsCarousel" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#trendingShowsCarousel" data-bs-slide-to="0"
                        class="active" aria-current="true" th:aria-label="${shows[0].name}"></button>
                <th:block th:each="show,iterStat : ${shows}">
                <button type="button" data-bs-target="#trendingShowsCarousel" th:data-bs-slide-to="${iterStat.index}"
                        th:aria-label="${show.name}" th:if="${(iterStat.index != 0) }"></button>
                </th:block>
            </div>

            <div class="carousel-inner" style="height: 20rem;">
                <div class="carousel-item active">
                    <div class="card text-bg-dark d-block w-100 h-25">
                        <img th:src="${shows[0].backdrop_path}" class="card-img" th:alt="${shows[0].name} + ' backdrop'">
                        <div class="card-img-overlay">
                            <div class="overflow-scroll" style="height: 3rem;">
                                <h5 class="card-title fw-bold" th:text="${shows[0].name}" />
                            </div>
                            <div class="overflow-scroll" style="height: 4rem;">
                                <p class="card-text" th:text="${shows[0].overview}"/>
                            </div>
                            Vote: <span th:text="${shows[0].vote_average} + ' '"/>
                        </div>
                    </div>
                </div>

                <th:block th:each="show,iterStat : ${shows}">
                    <div class="carousel-item" th:if="${(iterStat.index != 0)}">
                        <div class="card text-bg-dark d-block w-100 h-25">
                            <img th:src="${show.backdrop_path}" class="card-img" th:alt="${show.name} + ' backdrop'">
                            <div class="card-img-overlay">
                                <div class="overflow-scroll" style="height: 3rem;">
                                    <h5 class="card-title fw-bold" th:text="${show.name}" />
                                </div>
                                <div class="overflow-scroll" style="height: 4rem;">
                                    <p class="card-text" th:text="${show.overview}"/>
                                </div>
                                Vote: <span th:text="${show.vote_average} + ' '"/>
                            </div>
                        </div>
                    </div>
                </th:block>

                <button class="carousel-control-prev" type="button" data-bs-target="#trendingShowsCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#trendingShowsCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>

        <br />
        <br />
        <span>Trending Movies</span>

        <div id="trendingMovieCarousel" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#trendingMovieCarousel" data-bs-slide-to="0"
                        class="active" aria-current="true" th:aria-label="${movies[0].title}"></button>
                <th:block th:each="movie,iterStat : ${movies}">
                    <button type="button" data-bs-target="#trendingMovieCarousel" th:data-bs-slide-to="${iterStat.index}"
                            th:aria-label="${movie.title}" th:if="${(iterStat.index != 0) }"></button>
                </th:block>
            </div>

            <div class="carousel-inner" style="height: 20rem;">
                <div class="carousel-item active">
                    <div class="card text-bg-dark d-block w-100 h-25">
                        <img th:src="${movies[0].backdrop_path}" class="card-img" th:alt="${movies[0].title} + ' backdrop'">
                        <div class="card-img-overlay">
                            <div class="overflow-scroll" style="height: 3rem;">
                                <h5 class="card-title fw-bold" th:text="${movies[0].title}" />
                            </div>
                            <div class="overflow-scroll" style="height: 4rem;">
                                <p class="card-text" th:text="${movies[0].overview}"/>
                            </div>
                            Vote: <span th:text="${movies[0].vote_average} + ' '"/>
                        </div>
                    </div>
                </div>

                <th:block th:each="movie,iterStat : ${movies}">
                    <div class="carousel-item" th:if="${(iterStat.index != 0)}">
                        <div class="card text-bg-dark d-block w-100 h-25">
                            <img th:src="${movie.backdrop_path}" class="card-img" th:alt="${movie.title} + ' backdrop'">
                            <div class="card-img-overlay">
                                <div class="overflow-scroll" style="height: 3rem;">
                                    <h5 class="card-title fw-bold" th:text="${movie.title}" />
                                </div>
                                <div class="overflow-scroll" style="height: 4rem;">
                                    <p class="card-text" th:text="${movie.overview}"/>
                                </div>
                                Vote: <span th:text="${movie.vote_average} + ' '"/>
                            </div>
                        </div>
                    </div>
                </th:block>

                <button class="carousel-control-prev" type="button" data-bs-target="#trendingMovieCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#trendingMovieCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>
    </div>
</div>
</body>
</html>